* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, a, button {
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

h1{
    padding: 0;
    margin: 0;
}

i {
    color: #235e2e;
}

span {
    color: #08B0D5;
}

button{
    border-radius: 10px;
    background-color: #fff;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: black;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    padding: 2px 24px;
    width: auto;
    text-align: center;
    cursor: pointer;
}


/* Header Section */
#hero{
    height: 100vh;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
    background-image:
    radial-gradient(at top right, skyblue, transparent),
    radial-gradient(at top left, #e0e0e0, transparent),
    radial-gradient(at bottom left, #fff, transparent);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    isolation: isolate; /* This makes sure the Z index is limited to the Div's "stacking context" so it doesn't go completely behind everything else on the website */
}


#hero::after{ /* To reduce the background opacity */
    content: ''; 
    position: absolute;
    z-index: -1;
    inset: 0;
    filter: blur(100px);
    background: black;
    border-radius: 90px;
    opacity: .15;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.6rem;
    padding: 1rem 3rem;
}

ul {
    list-style-type: none;
    padding: 0 1rem 0 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    display: flex;
    gap: 2rem;
    /* border: solid red 10px; */
}

li{
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.logo{
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    /* border: solid red 10px; */
}

.header h1{
    font-size: 24px;
    color: #fff;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 69vh;
    width: 60vw;
    gap: 2rem;
    margin: 5rem auto;
    padding: 2.5rem 5rem;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    
}

.hero-text{
    flex: 1 1 auto;
}

.hero-text h1 {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.slide-in-left {
    animation: slide-in-left 0.9s ease-out both;
}


@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-text p{
    margin-bottom: 1.5rem;
    color: black;
    font-size: 18px;
}

.text-gradient{
    background: -webkit-linear-gradient(-300deg, rgba(2, 0, 36, 1) 0%, rgba(37, 199, 49, 1) 35%, rgba(34, 200, 68, 1) 60%, rgba(255, 198, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: reveal-in-blurred 0.8s ease-out 0.6s both;
}

@keyframes reveal-in-blurred {
    0% {
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


.hero-text button{
    -webkit-animation: wobble 0.8s 2.3s both;
    animation: wobble 0.8s 3s both;
}

.hero-text button:hover {
    background: #235e2e;
    color: #F6F9FE; 
}


@-webkit-keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}



.hero-img{
    display: flex;
    /* border: solid red 10px; */
    max-width: 35rem;
    flex: 1 1 auto;
    overflow: hidden;
    border-radius: 15px;
    -webkit-animation: tilt-in 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: tilt-in 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both;

}

@-webkit-keyframes tilt-in {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

@keyframes tilt-in {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

.img-1{
    max-width: 100%;
}
 

        /* < !-- Information Section --> */


#information{
    background-color: #e8e8e8;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
    clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
    margin-top: -50px;
    min-height: 80vh;
}


.cards {
    display: flex;
    gap: 2.8rem;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 0;
    /* min-height: 90vh; */
    flex-wrap: wrap;
}

#information h2{
    color: #08B0D5;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 6rem;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 17rem;
    height: 23rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 24px 24px 49px #bebebe,-24px -24px 49px #ffffff;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.card-img:hover img{
    transform: scale(1.5);
    cursor: pointer;
}

.card-img img {
    width: 100%;
    height: 100%;
    transition: 0.6s ease;
}

.card-text{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem;
}






/* Testimonials Section */




#testimonial-section{
    position: relative;
    min-height: 100vh;
    clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
    margin-top: -50px;
        
    /* Mask Created with css-generators.com */
    --mask:
    radial-gradient(156.52px at 50% calc(100% - 210.00px), #000 99%, #0000 101%) calc(50% - 140px) 0/280px 100%,
    radial-gradient(156.52px at 50% calc(100% + 140.00px), #0000 99%, #000 101%) 50% calc(100% - 70px)/280px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);        
}


/* For Animated Aurora Background */
@keyframes fly {
    100% {
        transform: rotate(1turn) translate(100px) rotate(-1turn);
    }
}

@keyframes flyPlus {
    100% {
        transform: rotate(-1turn) translate(100px) rotate(1turn);
    }
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: black;
    position: relative;
    overflow: hidden;
    /* border-radius: 40px; */
}

.base {
    position: absolute;
    filter: blur(60px);
    opacity: 0.8;
    scale: 3;
}

.one {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    background-color: #e0e0e0;
    left: -50px;
    top: -300px;
    z-index: 3;
    animation: fly 11s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
}

.two {
    width: 500px;
    height: 800px;
    background-color: skyblue;
    bottom: -30px;
    left: -80px;
}

.three {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    bottom: -80px;
    right: -100px;
    background-color: #1097e6;
    animation: flyPlus 6s linear infinite;
    transform: rotate(0) translate(100px) rotate(0);
}



.testimonials{
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    z-index: 5;
    isolation: isolate;
    left: 0;       /* to Center Position: absolute Div */
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
}

.quote{
    max-width: 63vw;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    padding: 0 5rem;
    font-style: italic;
}

.speaker{
    align-self: flex-end;
    margin-right: 10rem;
}

.speaker p{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}



/* Cta Section */

#cta{
    min-height: 40vh;
}

.cta-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    color: #fff;
    width: 60vw;
    height: 30vh;
    margin: 5.4rem auto;
    background-image: url(images/tobias-mrzyk-iuqmGmst5Po-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}

.cta-container::after{
    content: '';
    position: absolute;
    z-index: -2;
    inset: 0;
    filter: blur(100px);
    background: black;
    border-radius: 90px;
    opacity: .9;
}

.cta-container h2{
    color: #fff;
    margin: 1rem 0;
    font-weight: 900;
    font-size: 35px;
}

.cta-container p{
    font-size: 18px;
}

.cta-container span{
    color: #08B0D5;
}

.cta-container button{
    background-color: transparent;
    border: 2px solid #08B0D5;
    color: #08B0D5;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

.cta-container button::before {
    position: absolute;
    content: "";
    background: #08B0D5;
    width: 380px;
    height: 150px;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

.cta-container button:hover {
    color: white;
    transform: scale(1.1);
    box-shadow: 4px 5px 17px -4px #08B0D5;
}


.cta-container button:hover::before {
    top: -30px;
    left: -40px;
}



/* Footer Section */

#footer{
    min-height: 10vh;
    width: 100%;
    background-color: #0c0c0f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    color: #fff;
    font-size: 1rem;
}

#footer a{
    font-weight: 600;
}

#footer a:hover{
    color: #08B0D5;
}